<html>
        <head>

                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
     
        </head>
        <body>
                        <div class="content">
		<center>
                        <h1>  <a href="../">  Constantine Larionoff <a> </h1>
                <h2>
                        <div id="row"> <a href="../neural_network/Nothing"> NEURAL&nbsp;NETWORK </a>     </div>     

                        <div id="row">   <a href="../cellular_automata/">    CELLULAR&nbspAUTOMATA </a> </div>     

                        <div id="row">   <a href="../path_finding/">      PATH&nbsp;FINDING    </a>  </div>     
                </h2>

                              <hr>
		
                       <p>
                        <h3>  Hi! I made this website to get a job. </h3>
                        <p class="t">
                I like to make things. And here I'll try my best to show a few and maybe explain how they work. If I do it well one day it actually could be used for purposes of entertainment or even education. The original reason to build it is so I could learn a bit of the web stuff. I really enjoyed it. Might end up being a blog or something. That's a crappy picture I took on a webcam when coding this.
                </p>
<img src="/static/me.jpg" width="100%">
  <div style="margin-bottom: 10px;">
          <p class="t">
          I'm looking for a programming job/internship. I have some exposure to several programming languages: a decent subset of Python and lot of its great libraries, probably nearly everything there is in C, a bit of x86 Assembly so I could understad what C code actually is and a bit af Haskell because it's differenent and fun. Apparently now I know some JavaScript & browser API, HTML & CSS. If there's a need to put a lable on me -- I'm a fullstack developer, but currently a terrible one. Really feel the need to emphasise the latter. Goes without saying I know how to use Linux a bit and I know how to use servers a bit. This particulary ASCII characters together with most of this website were typed in Vim running on the server connected via SSH. I really Unix stuff and currently am reading a 1984 book by Maurice J. Bach - The Design of the Unix Operatin System. It's quite hard. </p>
          <p class="t"> 
          My strong sides are generality and learning fast. Which if you think about it would make me a great AI. My weakest points come from lack of expirence in industrial stuff: I don't know SQL databases because I never had so much data that it would make sense to use one. I also don't know Java-style programming particulary well. It makes no sense for me to use it unless someone asks me to. But apperently many people find it useful for division of labor. An imoprtant exception is I know some Docker but ended up not using it in production and just deploying with Git connectiong via SSH. Because of RAM limits on the cheapest AWS server I use.
          I do my best in Python because most stuff I code is for fun. And Python is fast to write. But I'd be happy to work with things that are more robust and are more fast to run like Go because it also has stronger type system which I really appreciated after Haskell.
          </p>
          <p class="t">
                Usually when people make a case for big companies being productive they say something like: "You can't build a plane in a garage. At least you need a big room so it could fit inside. And big room implies big team". Keoki Jackson - Lockheed Martin's CTO however said on a podcast that he's yet to see a problem a small team of highly motivated people can't handle. They don't build big passenger planes at Lockheed Martin of course. But their military aviation is absolutely sick. I like his point. Seems to be particulary true in the world of software. That's why I'd like to work in such a team. Basically the only requironment I have is the culture fit. I don't even yet need something particulary interesting to work on. If you make some similiar boring websites all the time I have something to learn from you. And I'll work for you for a few years. Of course there's nothing better in this world than working on a cool product. But I don't yet deserve working on one. 
                             </p>

                <p class="t"> Less important stuff about me. I'm not bad with people. In fact recently a local private school even invited me and my friend to teach kids debates. Which we organised in his university before covid. I sometimes study things very rigorously (like a neural network on this website), but also I throw random things in black boxes until they work. Which is usually the most productive way of doing things. I'm 19 and live with my mom. I'm getting a BS in pure math. But will probably drop out soon because lockdowns made the math part of the education really bad. It needs live communiction. The programming/CS part is doing better than ever though. I really changed my focus from pure math to real world skills. I would be happy to move to any place on Earth where some people speak English, Russian or French if required. Elon, if it's you, then definately also on Mars. Actully Mars would be preferred. 
                </p>
          

        </body>
        </html>

