<html>
        <head>

                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
     
        </head>
        <body>
                        <div class="content">
		<center>
                        <h1>  <a href="../">  Constantine Larionoff <a> </h1>
                <h2>
                        <div id="row"> <a href="../neural_network/Nothing"> NEURAL&nbsp;NETWORK </a>     </div>     

                        <div id="row">   <a href="../cellular_automata/">    CELLULAR&nbspAUTOMATA </a> </div>     

                        <div id="row">   <a href="../path_finding/">      PATH&nbsp;FINDING    </a>  </div>     
                </h2>

                              <hr>
		
                        <p>
                        <p>
                        <h3 id="b"> A cellular automaton models growth of ice crystals. </h3>
                        <p>

                        <!--  <img src="/static/snow.jpg" width="90%">   -->










 <canvas id="canvas" width="512" height="512">


                <script src="{{url_for('static', filename='cords')}}"></script>
                <script src="{{url_for('static', filename='cellular_automata.js')}}"></script>


</canvas> 
<p>






<input type="range" class="slider" min="0" max="62" value="5" oninput="pic(this.value);">                           











</center>

</div>
        </body>
        </html>

